In [62]:
import csv
import pandas as pd
import os
import matplotlib.pyplot as plt

In [30]:
filepath_t = os.path.join("temperature.csv")
filepath_traf = os.path.join("Traffic_Collision_Data_from_2010_to_Present.csv")
filepath_w = os.path.join("weather_description.csv")

In [31]:
temperature = pd.read_csv(filepath_t)
weather = pd.read_csv(filepath_w)
traffic = pd.read_csv(filepath_traf)

In [64]:
weather_LA = weather[['datetime','Los Angeles']]
weather_breakdown = weather_LA['Los Angeles'].value_counts()
weather_pie_list = weather_breakdown[:11]

sky is clear        26136
haze                 3532
mist                 2961
broken clouds        2565
overcast clouds      2432
scattered clouds     2271
light rain           1949
few clouds           1757
fog                   566
moderate rain         481
smoke                 203
Name: Los Angeles, dtype: int64

In [104]:
x[1]

'(34.2012, -118.4662)'

In [115]:
coordinates = traffic['Location'].str.strip('()')                               \
                   .str.split(', ', expand=True)                   \
                   .rename(columns={0:'Latitude', 1:'Longitude'})
traffic['Lat']=coordinates['Latitude']
traffic['Long']=coordinates['Longitude']
traffic.head()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,Victim Age,Victim Sex,Victim Descent,Premise Code,Premise Description,Address,Cross Street,Location,Lat,Long
0,100119684,01/01/11042010,11/04/2010,1345,1,Central,159,997,TRAFFIC COLLISION,NaN,20.0,F,H,101.0,STREET,7TH ST,LAWRENCE ST,"(34.0348, -118.2362)",34.0348,-118.2362
1,101221255,01/01/8102010,08/10/2010,1900,12,77th Street,1211,997,TRAFFIC COLLISION,NaN,31.0,F,B,101.0,STREET,54TH ST,3RD AV,"(33.9932, -118.3203)",33.9932,-118.3203
2,101414426,01/01/6112010,06/09/2010,1925,14,Pacific,1488,997,TRAFFIC COLLISION,NaN,40.0,F,B,101.0,STREET,MANCHESTER BL,BELLANCA AV,"(33.9599, -118.3805)",33.9599,-118.3805
3,102109168,01/01/4062010,04/06/2010,1445,21,Topanga,2197,997,TRAFFIC COLLISION,1501,51.0,M,O,101.0,STREET,ROSITA AV,CORBIN AV,"(34.1585, -118.5633)",34.1585,-118.5633
4,100322445,01/01/9222010,05/23/2010,1805,3,Southwest,397,997,TRAFFIC COLLISION,NaN,32.0,F,H,101.0,STREET,43RD PL,WALTON AV,"(34.0055, -118.2948)",34.0055,-118.2948

In [66]:
traffic['Crime Code Description'].value_counts()

TRAFFIC COLLISION    432962
Name: Crime Code Description, dtype: int64

In [65]:
weather_LA

                  datetime       Los Angeles
0      2012-10-01 12:00:00               NaN
1      2012-10-01 13:00:00              mist
2      2012-10-01 14:00:00      sky is clear
3      2012-10-01 15:00:00      sky is clear
4      2012-10-01 16:00:00      sky is clear
5      2012-10-01 17:00:00      sky is clear
6      2012-10-01 18:00:00      sky is clear
7      2012-10-01 19:00:00      sky is clear
8      2012-10-01 20:00:00      sky is clear
9      2012-10-01 21:00:00      sky is clear
10     2012-10-01 22:00:00      sky is clear
11     2012-10-01 23:00:00      sky is clear
12     2012-10-02 00:00:00      sky is clear
13     2012-10-02 01:00:00      sky is clear
14     2012-10-02 02:00:00      sky is clear
15     2012-10-02 03:00:00      sky is clear
16     2012-10-02 04:00:00      sky is clear
17     2012-10-02 05:00:00      sky is clear
18     2012-10-02 06:00:00      sky is clear
19     2012-10-02 07:00:00      sky is clear
20     2012-10-02 08:00:00      sky is clear
21     2012-10-02 09:00:00      sky is clear
22     2012-10-02 10:00:00      sky is clear
23     2012-10-02 11:00:00      sky is clear
24     2012-10-02 12:00:00      sky is clear
25     2012-10-02 13:00:00      sky is clear
26     2012-10-02 14:00:00              mist
27     2012-10-02 15:00:00               fog
28     2012-10-02 16:00:00      sky is clear
29     2012-10-02 17:00:00      sky is clear
...                    ...               ...
45223  2017-11-28 19:00:00      sky is clear
45224  2017-11-28 20:00:00      sky is clear
45225  2017-11-28 21:00:00  scattered clouds
45226  2017-11-28 22:00:00      sky is clear
45227  2017-11-28 23:00:00  scattered clouds
45228  2017-11-29 00:00:00      sky is clear
45229  2017-11-29 01:00:00      sky is clear
45230  2017-11-29 02:00:00      sky is clear
45231  2017-11-29 03:00:00      sky is clear
45232  2017-11-29 04:00:00      sky is clear
45233  2017-11-29 05:00:00      sky is clear
45234  2017-11-29 06:00:00      sky is clear
45235  2017-11-29 07:00:00      sky is clear
45236  2017-11-29 08:00:00      sky is clear
45237  2017-11-29 09:00:00      sky is clear
45238  2017-11-29 10:00:00      sky is clear
45239  2017-11-29 11:00:00      sky is clear
45240  2017-11-29 12:00:00      sky is clear
45241  2017-11-29 13:00:00              mist
45242  2017-11-29 14:00:00  scattered clouds
45243  2017-11-29 15:00:00  scattered clouds
45244  2017-11-29 16:00:00     broken clouds
45245  2017-11-29 17:00:00      sky is clear
45246  2017-11-29 18:00:00      sky is clear
45247  2017-11-29 19:00:00      sky is clear
45248  2017-11-29 20:00:00      sky is clear
45249  2017-11-29 21:00:00      sky is clear
45250  2017-11-29 22:00:00      sky is clear
45251  2017-11-29 23:00:00      sky is clear
45252  2017-11-30 00:00:00      sky is clear

[45253 rows x 2 columns]

In [121]:
import folium
 
# Make a data frame with dots to show on the map
data = pd.DataFrame({
   'lat':traffic['Lat'],
   'lon':traffic['Long'],
   'value':1
})
data
 
# Make an empty map
m = folium.Map(location=[20,0], tiles="Mapbox Bright", zoom_start=2)

ModuleNotFoundError: No module named 'folium'

In [123]:
from mpl_toolkits.basemap import Basemap
import numpy as np
import matplotlib.pyplot as plt
 
# Make a data frame with the GPS of a few cities:
data = pd.DataFrame({
'lat':[-58, 2, 145, 30.32, -4.03, -73.57, 36.82, -38.5],
'lon':[-34, 49, -38, 59.93, 5.33, 45.52, -1.29, -12.97],
'name':['Buenos Aires', 'Paris', 'melbourne', 'St Petersbourg', 'Abidjan', 'Montreal', 'Nairobi', 'Salvador']
})
 
# A basic map
m=Basemap(llcrnrlon=-160, llcrnrlat=-75,urcrnrlon=160,urcrnrlat=80)
m.drawmapboundary(fill_color='#A6CAE0', linewidth=0)
m.fillcontinents(color='grey', alpha=0.7, lake_color='grey')
m.drawcoastlines(linewidth=0.1, color="white")
 
# Add a marker per city of the data frame!
m.plot(data['lat'], data['lon'], linestyle='none', marker="o", markersize=16, alpha=0.6, c="orange", markeredgecolor="black", markeredgewidth=1)

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'