In [1]:
import pandas as pd

In [2]:
file_path = "Result/Traffic_Collision_Data_2016.csv"
collision_2016 = pd.DataFrame(pd.read_csv(file_path))
collision_2016.head()

,Date Occurred,Time Occurred,Area ID,Area Name,Victim Age,Address,Cross Street,Location,Date in Full,Day of Week,Year,Date
0,01/03/2016,1950,12,77th Street,39.0,VERNON AV,HOOVER ST,"(34.0037, -118.2878)",2016-01-03,Sunday,2016,1/3
1,02/05/2016,1835,1,Central,44.0,HOPE,3RD,"(34.0525, -118.2535)",2016-02-05,Friday,2016,2/5
2,10/20/2016,950,1,Central,46.0,5TH,MAIN,"(34.0471, -118.2491)",2016-10-20,Thursday,2016,10/20
3,10/20/2016,1216,1,Central,53.0,HILL,8TH,"(34.0467, -118.252)",2016-10-20,Thursday,2016,10/20
4,03/29/2016,1445,3,Southwest,27.0,BUDLONG,ADAMS,"(34.0328, -118.2964)",2016-03-29,Tuesday,2016,3/29

In [3]:
collision_2016_groupbyday = collision_2016.groupby("Date")
accident_per_day = pd.DataFrame(collision_2016_groupbyday["Date Occurred"].count()).reset_index()
accident_per_day.head()

   Date  Date Occurred
0   1/1            137
1  1/10            122
2  1/11            132
3  1/12            127
4  1/13            128